
.prompt {
  margin: 0;
  padding: 25px 18px 5px;
  color: #654646;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.cell-group {
  margin-top: 15px;
}

.query-button-div {

  margin-top: 30px;
  text-align: center;
}
